{%- if product.media.size > 0 -%}
  {{- 'component-deferred-media.css' | asset_url | stylesheet_tag -}}
  {%- unless section.settings.disable_media_zoom -%}
    <link rel="stylesheet" href="{{- 'photoswipe.css' | asset_url -}}" media="print" onload="this.media='all'">
    <script src="{{- 'photoswipe-lightbox.umd.min.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'photoswipe.umd.min.js' | asset_url -}}" defer="defer"></script>
  {%- endunless -%}
  <script src="{{- 'product-media.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{% style %}
  .product__media--swiper-wrapper .media img, .product__media--swiper-wrapper .media > iframe, .product__media--swiper-wrapper .media video {
    object-fit: {{- section.settings.product_media_object_fit -}};
  }

  {%- if section.settings.media_transparent_background -%}
    .product__media,
    .product__media .media:not(.media--thumb),
    .product__media-layout--full .media:not(.media--thumb) {
      background-color: transparent;
    }
  {%- endif -%}
  {%- if section.settings.product_media_with_thumbs == 'only_mobile' -%}
    @media screen and (min-width: 750px) {
      .product__media .swiper-thumbs {
        display: none;
      }
      .product__media[data-with-thumbs="true"] .swiper-buttons {
        padding-inline: 3.2rem;
      }
    }
  {%- endif -%}
  {%- if section.settings.product_media_with_thumbs == 'only_desktop' -%}
    @media screen and (max-width: 749px) {
      .product__media .swiper-thumbs {
        display: none;
      }
    }
  {%- endif -%}
{% endstyle %}

{%- liquid
  assign product_images = product.media | where: 'media_type', 'image'
  assign product_models = product.media | where: 'media_type', 'model'
  assign product_local_videos = product.media | where: 'media_type', 'video'
  assign product_external_videos = product.media | where: 'media_type', 'external_video'
  assign product_videos = product_local_videos | concat: product_external_videos
  assign product_media = product_images | concat: product_models | concat: product_videos | sort: 'position'
-%}

{%- unless product_models.size == 0 -%}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <script type="application/json" id="ProductJSON-{{- product.id -}}">
    {{ product_models | json }}
  </script>

  <script src="{{- 'product-model.js' | asset_url -}}" defer></script>
{%- endunless -%}

{% liquid
  if section.settings.product_media_with_thumbs != 'none'
    assign with_thumbs = true
  else
    assign with_thumbs = false
  endif

  assign mobile_thumbs = false
  if section.settings.product_media_with_thumbs == 'only_mobile' or section.settings.product_media_with_thumbs == 'desktop_and_mobile'
    assign mobile_thumbs = true
  endif

  case section.settings.adaptive_ratio_and_auto_height
    when 'slider_auto_height'
      assign adaptive_ratio = true
      assign slider_auto_height = true
    when 'adaptive_ratio'
      assign adaptive_ratio = true
      assign slider_auto_height = false
    else
      assign adaptive_ratio = false
      assign slider_auto_height = false
  endcase
%}

{%- if product.media.size > 0 -%}
  {%- unless product.gift_card? -%}
    {% if section.settings.slider_auto_height %}
      <style>
        .product .media > *,
        .product .media img {
          height: auto;
        }
      </style>
    {% endif %}

    <product-media
      class="product__media {{ section.settings.product_media_layout }} {{ section.settings.product_media_layout_mobile }}"
      data-auto-height="{{ slider_auto_height }}"
      data-with-thumbs="{{- with_thumbs -}}"
      data-media-zoom="{{ section.settings.disable_media_zoom }}"
      data-pagination="{% if section.settings.display_media_gallery_pagination == 'none' and section.settings.gallery_arrows_show_on == 'desktop' and mobile_thumbs == false  %}under{% else %}{{ section.settings.display_media_gallery_pagination }}{% endif %}"
    >
      {%- liquid
        assign slides_html = ''
        assign slides_thumbs_html = ''
        assign modal_triggers = ''
        if product_media.size > 0
          for media in product_media
            capture slides_html
              echo slides_html
              render 'product-media', media: media, output_type: 'slider-slide', media_index: forloop.index0, preserve_aspect_ratio: adaptive_ratio, section_index: section.index
            endcapture

            if section.settings.product_media_with_thumbs != 'none'
              capture slides_thumbs_html
                echo slides_thumbs_html
                render 'product-media', media: media, output_type: 'slider-slide-thumbs', media_index: forloop.index0, preserve_aspect_ratio: adaptive_ratio, section_index: section.index, thumbs_ratio: section.settings.product_media_thumbs_ratio
              endcapture
            endif

            capture modal_triggers
              echo modal_triggers
              render 'product-media', media: media, output_type: 'modal-trigger', modal_id: section.id, media_index: forloop.index0, section_index: section.index
            endcapture
          endfor
        endif
      -%}

      {% liquid
        assign swiper_options = '{'
        assign swiper_options = swiper_options | append: '"slidesPerViewDesktop": ' | append: 1
        if section.settings.product_media_with_thumbs != 'none'
          assign swiper_options = swiper_options | append: ', "thumbsDirectionDesktop": ' | append: '"vertical"'
        endif
        assign swiper_options = swiper_options | append: '}'
      %}

      <div class="product__media-slider overflow-hidden relative {% if section.settings.product_media_with_thumbs == 'desktop_and_mobile' or section.settings.product_media_with_thumbs == 'only_desktop' %} product__media--with-thumbs{% endif %}{% if section.settings.product_media_layout == 'product__media-layout--grid' %} small-up-hide{% endif %}">
        <div class="product__media--swiper-wrapper" id="product-media--photoswipe">
          <div
            class="swiper"
            data-slider
            data-swiper-options='{{- swiper_options -}}'
            id="product-media-gallery"
          >
            <div class="swiper-wrapper">
              {{- slides_html -}}
            </div>

            {% if section.settings.display_media_gallery_pagination != 'none' or section.settings.gallery_arrows_show_on == 'desktop' and mobile_thumbs == false %}
              <div class="swiper-pagination small-up-hide"></div>
            {% endif %}
            {% if section.settings.disable_media_zoom != true or section.settings.media_gallery_info != blank %}
              <div class="product__media-action-buttons">
                {% if section.settings.media_gallery_info != blank %}
                  <div class="product__media--info">
                    <span>{{- section.settings.media_gallery_info -}}</span>
                  </div>
                {% endif %}
                {% if section.settings.disable_media_zoom != true %}
                  <div class="product__modal-triggers">
                    {{- modal_triggers -}}
                  </div>
                {% endif %}
              </div>
            {% endif %}

          </div>

          {%- liquid
            # feature: as seen on
            assign metafield_as_seen_on_namespace = section.settings.metafield_as_seen_on | split: '.' | first
            assign metafield_as_seen_on_key = section.settings.metafield_as_seen_on | split: '.' | last

            assign metafield_as_seen_on = product.metafields[metafield_as_seen_on_namespace][metafield_as_seen_on_key]

            if section.settings.metafield_as_seen_on != blank and metafield_as_seen_on != blank
              render 'product-as-seen-on', product: product, metafield_as_seen_on: metafield_as_seen_on
            endif

            # feature: gallery arrows
            assign gallery_arrows_show_on_class = section.settings.gallery_arrows_show_on
            if gallery_arrows_show_on_class == 'mobile'
              assign gallery_arrows_show_on_class = 'large-up-hide'
            elsif gallery_arrows_show_on_class == 'desktop'
              assign gallery_arrows_show_on_class = 'small-hide medium-hide'
            else
              assign gallery_arrows_show_on_class = ''
            endif
          -%}

          <div class="swiper-buttons {{ section.settings.arrows_color }} {{ gallery_arrows_show_on_class }} {% if product.media.size == 1 %} hidden {% endif %} no-js-hidden">
            <button class="swiper-button swiper-button--prev" aria-label="{{- 'theme.actions.previous' | t -}}">
              {%- render 'icon', icon_name: 'theme-arrow-end' -%}
            </button>
            <button class="swiper-button swiper-button--next" aria-label="{{- 'theme.actions.next' | t -}}">
              {%- render 'icon', icon_name: 'theme-arrow-end' -%}
            </button>
          </div>
        </div>

        {% if section.settings.product_media_with_thumbs != 'none' %}
          <div class="swiper-thumbs">
            <div class="swiper-wrapper">
              {{- slides_thumbs_html -}}
            </div>
          </div>
        {% endif %}

        {% if section.settings.show_media_index %}
          <div class="product__media--counter{% if section.settings.product_media_with_thumbs == 'desktop_and_mobile' or section.settings.product_media_with_thumbs == 'only_desktop' %} product__media--with-thumbs{% endif %}">
            <span
              class="product__media--counter-index"
              data-media-counter-index
              >1</span
            >
            <span>|</span>
            <span>{{ product.media.size }}</span>
          </div>
        {% endif %}
      </div>

      {% if section.settings.product_media_layout == 'product__media-layout--grid' %}
        <div class="product__media-grid small-hide" id="product-media--photoswipe">
          {% for media in product.media %}
            {% liquid
              assign padding_bottom = 0

              assign media_ratio_class = blank
              if media.preview_image.aspect_ratio < 1
                assign media_ratio_class = 'media--portrait'
                assign padding_bottom = 1 | divided_by: media.preview_image.aspect_ratio | times: 100 | round: 2
              elsif media.preview_image.aspect_ratio > 1
                assign media_ratio_class = 'media--landscape'
                assign padding_bottom = 1 | divided_by: media.preview_image.aspect_ratio | times: 100 | round: 2
              endif

              # assign preserve_aspect_ratio = true
              assign media_class = 'media'
              assign media_style = ''
              if adaptive_ratio
                assign media_style = 'padding-block-end: ' | append: padding_bottom | append: '%;'
              else
                assign media_class = media_class | append: ' ' | append: media_ratio_class
              endif
            %}

            <div
              class="{{- media_class -}}"
              {% if media_style != '' %}
                style="{{- media_style -}}"
              {% endif %}
            >
              {% liquid
                assign data_product_images = ''
                for variant in product.variants
                  if variant.featured_image == media
                    assign data_product_images = data_product_images | append: variant.id | append: ','
                  endif
                endfor
                assign data_product_images = data_product_images | split: ',' | uniq | join: ','
                assign attr = 'data-product-images="' | append: data_product_images | append: '"'
              %}
              {% if forloop.index < 3 %}
                {% render 'image', image: media, attr: attr, loading: 'eager' %}
              {% else %}
                {% render 'image', image: media, attr: attr %}
              {% endif %}
              {% unless section.settings.disable_media_zoom %}
                <div class="product__modal-triggers">
                  {%- render 'product-media', media: media, output_type: 'modal-trigger', media_index: forloop.index0, media_is_active: true -%}
                </div>
              {% endunless %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {%- unless product_models.size == 0 -%}
        <button
          class="button button--full product__button-xr js-xr-button"
          type="button"
          aria-label="{{ 'product.media_xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ product_models[0].id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon', icon_name: 'theme-3d-model' %}
          {{- 'product.media_xr_button' | t -}}
        </button>
      {%- endunless -%}

      <div class="hidden" data-close-icon>
        {%- render 'icon', icon_name: 'theme-close' -%}
      </div>
      <div class="hidden" data-prev-icon>
        {%- render 'icon', icon_name: 'theme-chevron-start' -%}
      </div>
      <div class="hidden" data-next-icon>
        {%- render 'icon', icon_name: 'theme-chevron-end' -%}
      </div>

    </product-media>

    {% unless section.settings.disable_media_zoom %}
      <product-modal
        id="ProductModal-{{- section.id -}}"
        class="product-gallery"
      >
        <div
          class="product-gallery__dialog"
          role="dialog"
          tabindex="-1"
          aria-label="{{- 'product.media_gallery' | t -}}"
          aria-modal="true"
        >
          <button id="ModalClose-{{- section.id -}}" type="button" class="product-gallery__close" aria-label="{{- 'theme.actions.close' | t -}}">{%- render 'icon', icon_name: 'theme-close' -%}</button>
          <div class="product__gallery-content"
            role="document"
            aria-label="{{- 'product.media_gallery' | t -}}"
            tabindex="0"
          >
            <div class="product__modal-slider swiper" data-modal-slider>
              <div class="swiper-wrapper">
                {%- assign product_models_and_videos = product_videos | concat: product_models | sort: 'position' -%}

                {%- for product_media in product_models_and_videos -%}
                  {% render 'product-modal-media', media: product_media, media_index: forloop.index0 %}
                {%- endfor -%}
              </div>
            </div>
            <div class="swiper-buttons {{ section.settings.color_scheme_arrows }} gradient bg-transparent">
              <button class="swiper-button swiper-button--prev" aria-label="{{- 'theme.actions.previous' | t -}}">
              {%- render 'icon', icon_name: 'theme-arrow-end' -%}
              </button>
              <button class="swiper-button swiper-button--next" aria-label="{{- 'theme.actions.next' | t -}}">
                {%- render 'icon', icon_name: 'theme-arrow-end' -%}
              </button>
            </div>
          </div>
        </div>
      </product-modal>
    {% endunless %}
  {%- else -%}
    <div class="media gift-card__media">
      {% render 'image', image: product.media.first %}
    </div>
  {%- endunless-%}
{%- endif -%}
