{{- 'section-full-width-banner.css' | asset_url | stylesheet_tag -}}

{% liquid

  # set heading tag based on section index
  if section.index == 1
    assign heading_tag = 'h1'
  else
    assign heading_tag = 'h2'
  endif

  assign has_desktop_media = false
  assign has_mobile_media = false

  if section.settings.image_desktop != blank or section.settings.video_desktop != blank or section.settings.video_desktop_external != blank
    assign has_desktop_media = true
  endif

  if section.settings.image_mobile != blank or section.settings.video_mobile != blank or section.settings.video_mobile_external != blank
    assign has_mobile_media = true
  endif
%}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    --full-width-banner-mobile-height: {{ section.settings.full_width_banner_mobile_height | default: '100' | append: 'vh' }};
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
  }
  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} > div .section-full-width-banner:has(.media > *) .section-full-width-banner__content {
      background-color: transparent;
    }
  }
  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} > div {
      --full-width-banner-height: {{ section.settings.full_width_banner_height | default: '50' | append: 'vh' }};
    }
  }
  {% if has_desktop_media %}
    @media screen and (min-width: 750px) {
      #shopify-section-{{ section.id }} > div .section-full-width-banner:has(.media > *) .section-full-width-banner__content {
        background-color: transparent;
      }
    }
  {% endif %}
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="container {{ section.settings.section_width }}">
  <div class="section-full-width-banner section-full-width-banner--full js-animation-fade-in">

      {%- capture inner_settings_classes -%}
        {{ section.settings.content_position_horizontal }} {{ section.settings.content_position_vertical }}
      {%- endcapture -%}

      {%- liquid
        if has_desktop_media
          assign inner_settings_classes = inner_settings_classes | append: ' has-desktop-media has-mobile-media'
        elsif has_mobile_media
          assign inner_settings_classes = inner_settings_classes | append: ' has-mobile-media'
        endif

        if section.settings.content_position_vertical == 'align-start'
          assign inner_settings_classes = inner_settings_classes | append: ' content-top'
        endif

        assign inner_settings_classes = inner_settings_classes | append: ' color-' | append: section.settings.color_scheme_for_content
      -%}

      {% capture media_element %}
        {%- comment -%}Desktop Media{%- endcomment -%}
        {%- if section.settings.video_desktop_external != blank -%}
          <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
            {% render 'external-video', video: section.settings.video_desktop_external, title: section.settings.title, youtube_container: true, controls: section.settings.show_controls_on_video %}
          </div>
        {%- elsif section.settings.video_desktop != blank -%}
          <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
            {{- section.settings.video_desktop | video_tag: image_size: '2160x', loop: true, autoplay: true, muted: true, controls: section.settings.show_controls_on_video -}}
          </div>
        {%- else -%}
          <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
            {%- liquid
              if section.settings.image_desktop != blank
                render 'image', image: section.settings.image_desktop, alt: section.settings.image_desktop.alt | default: section.settings.title | append: '-desktop' | escape, sizes: 'auto'
              elsif section.blocks.size == 0
                echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
              endif
            -%}
          </div>
        {%- endif -%}

        {%- comment -%}Mobile Media{%- endcomment -%}
        {%- if has_mobile_media -%}
          {%- if section.settings.video_mobile_external != blank -%}
            <div class="media media--overlay section-full-width-banner__media small-up-hide">
              {% render 'external-video', video: section.settings.video_mobile_external, title: section.settings.title, controls: section.settings.show_controls_on_video_mobile %}
            </div>
          {%- elsif section.settings.video_mobile != blank -%}
            <div class="media media--overlay section-full-width-banner__media small-up-hide">
              {{- section.settings.video_mobile | video_tag: image_size: '720x', loop: true, autoplay: true, muted: true, controls: section.settings.show_controls_on_video_mobile -}}
            </div>
          {%- elsif section.settings.image_mobile != blank -%}
            <div class="media media--overlay section-full-width-banner__media small-up-hide">
              {%- render 'image', image: section.settings.image_mobile, image_for_mobile: true, alt: section.settings.image_mobile.alt | default: section.settings.title | escape, sizes: 'auto' -%}
            </div>
          {%- elsif section.blocks.size == 0 -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
          {%- endif -%}
        {%- endif -%}
      {% endcapture %}

      {%- if section.blocks.size > 0 -%}
        {% capture content_element %}
          <div class="section-full-width-banner__content {{ inner_settings_classes | strip }}">
            {%- for block in section.blocks -%}

              {% liquid
                assign show_on_class = block.settings.show_on | default: ''
                if show_on_class == 'mobile'
                  assign show_on_class = 'large-up-hide'
                elsif show_on_class == 'desktop'
                  assign show_on_class = 'small-hide medium-hide'
                else
                  assign show_on_class = ''
                endif
              %}

              {%- case block.type -%}

                {%- when 'breadcrumbs' -%}
                  <div class="section-full-width-banner__breadcrumbs page-banner__breadcrumbs {{ show_on_class }}">
                    {%- render 'breadcrumbs', alignment: 'center' -%}
                  </div>

                {%- when 'heading' -%}
                  <div class="section-full-width-banner__heading {{ block.settings.block_width }}">
                    <{{ heading_tag }} class="section__heading {{ block.settings.heading_size }}">
                      {{- block.settings.heading | default: page.title | default: page_title -}}
                    </{{ heading_tag }}>
                  </div>

                {%- when 'content' -%}
                  {%- if block.settings.content == blank -%}
                    {%- continue -%}
                  {%- endif -%}

                  <div class="section-full-width-banner__entry entry{% unless section.settings.content_position_horizontal contains 'start' %} entry--list-padding-none{% endunless %}">
                    {{- block.settings.content -}}
                  </div>

                {%- when 'subheading' -%}
                  {%- if block.settings.subheading == blank -%}
                    {%- continue -%}
                  {%- endif -%}

                  {%- if block.settings.link != blank -%}
                    <a href="{{- block.settings.link -}}" class="section-full-width-banner__subtitle">
                      {{- block.settings.subheading -}}
                    </a>
                  {%- else -%}
                    <p class="section-full-width-banner__subheading">
                      {{- block.settings.subheading -}}
                    </p>
                  {%- endif -%}

                {%- when 'buttons' -%}
                  {%- if
                    block.settings.button_label_1 == blank or block.settings.button_link_1 == blank
                      and
                    block.settings.button_label_2 == blank or block.settings.button_link_2 == blank
                  -%}
                    {%- continue -%}
                  {%- endif -%}

                  <div class="section-full-width-banner__buttons {{ section.settings.content_position_horizontal }}">
                    {%- liquid
                      if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank
                        render 'button', type: 'link', class: 'button section-full-width-banner__button', button_style: block.settings.button_style_1 | default: 'default', value: block.settings.button_label_1, href: block.settings.button_link_1, color_scheme: block.settings.color_scheme_first_button
                      endif

                      if block.settings.button_label_2 != blank and block.settings.button_link_2 != blank
                        render 'button', type: 'link', class: 'button section-full-width-banner__button', button_style: block.settings.button_style_2 | default: 'default', value: block.settings.button_label_2, href: block.settings.button_link_2, color_scheme: block.settings.color_scheme_second_button
                      endif
                    -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {% endcapture %}
      {%- endif -%}

      <div class="section-full-width-banner__media-element">
        {{ media_element }}
      </div>
      {%- if section.blocks.size > 0 -%}
        {{ content_element }}
      {%- endif -%}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.full-width-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "full_width_banner_height",
      "label": "t:sections.full-width-banner.settings.full_width_banner_height.label",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "vh",
      "default": 50
    },
    {
      "type": "range",
      "id": "full_width_banner_mobile_height",
      "label": "t:sections.full-width-banner.settings.full_width_banner_mobile_height.label",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "vh",
      "default": 75
    },
    {
      "type": "select",
      "id": "content_position_horizontal",
      "label": "t:sections.global.content.alignment.label",
      "info": "t:sections.global.content.alignment.for__desktop.info",
      "options": [
        {
          "value": "align-start text-start",
          "label": "t:sections.global.content.alignment.options.start.label"
        },
        {
          "value": "align-center text-center",
          "label": "t:sections.global.content.alignment.options.center.label"
        },
        {
          "value": "align-end text-end",
          "label": "t:sections.global.content.alignment.options.end.label"
        }
      ],
      "default": "align-center text-center"
    },
    {
      "type": "select",
      "id": "content_position_vertical",
      "label": "t:sections.global.content.position.label",
      "info": "t:sections.global.content.position.for__desktop.info",
      "options": [
        {
          "value": "justify-start",
          "label": "t:sections.global.content.position.options.start.label"
        },
        {
          "value": "justify-center",
          "label": "t:sections.global.content.position.options.center.label"
        },
        {
          "value": "justify-end",
          "label": "t:sections.global.content.position.options.end.label"
        }
      ],
      "default": "justify-center"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.media_desktop.content"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.global.element.image.label"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "t:sections.global.element.video.label",
      "info": "t:sections.global.element.video.info"
    },
    {
      "type": "video_url",
      "id": "video_desktop_external",
      "label": "t:sections.global.element.video_external.label",
      "info": "t:sections.global.element.video_external.info",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "checkbox",
      "id": "show_controls_on_video",
      "label": "t:sections.global.element.video.show_controls.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.header.media_mobile.content",
      "info": "t:sections.global.header.media_mobile.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.element.image.label"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.global.element.video.label",
      "info": "t:sections.global.element.video.info"
    },
    {
      "type": "video_url",
      "id": "video_mobile_external",
      "label": "t:sections.global.element.video_external.label",
      "info": "t:sections.global.element.video_external.info",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "checkbox",
      "id": "show_controls_on_video_mobile",
      "label": "t:sections.global.element.video.for__mobile.show_controls.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "max-w-page",
          "label": "t:sections.global.settings.section_width.options__1.label"
        },
        {
          "value": "max-w-narrow",
          "label": "t:sections.global.settings.section_width.options__4.label"
        },
        {
          "value": "max-w-fluid",
          "label": "t:sections.global.settings.section_width.options__2.label"
        },
        {
          "value": "max-w-full",
          "label": "t:sections.global.settings.section_width.options__3.label"
        }
      ],
      "default": "max-w-full",
      "label": "t:sections.global.settings.section_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.global.color_scheme.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_for_content",
      "label": "t:sections.global.color_scheme.for__content.label",
      "default": "scheme-5"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:sections.global.settings.spacing.settings.spacing_top.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:sections.global.settings.spacing.settings.spacing_bottom.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "heading",
      "limit": 1,
      "name": "t:sections.global.element.heading.label",
      "settings": [
        {
          "type": "select",
          "id": "block_width",
          "label": "t:sections.global.settings.block_width.label",
          "options": [
            {
              "value": "max-w-page",
              "label": "t:sections.global.settings.section_width.options__1.label"
            },
            {
              "value": "max-w-narrower",
              "label": "t:sections.global.settings.section_width.options__5.label"
            },
            {
              "value": "max-w-narrow",
              "label": "t:sections.global.settings.section_width.options__4.label"
            },
            {
              "value": "max-w-full",
              "label": "t:sections.global.settings.section_width.options__3.label"
            }
          ],
          "default": "max-w-full"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.element.heading.label",
          "default": "Headline full width banner"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.global.element.heading_size.label",
          "options": [
            {
              "value": "h6",
              "label": "XS"
            },
            {
              "value": "h5",
              "label": "S"
            },
            {
              "value": "h4",
              "label": "M"
            },
            {
              "value": "h3",
              "label": "L"
            },
            {
              "value": "h2",
              "label": "XL"
            }
          ],
          "default": "h3"
        }
      ]
    },
    {
      "type": "subheading",
      "limit": 1,
      "name": "t:sections.global.element.subheading.label",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.global.element.subheading.label",
          "default": "Enter a subheading for your full width image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.element.link.label",
          "info": "t:sections.global.element.optional.info"
        }
      ]
    },
    {
      "type": "content",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.content.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.global.element.text.label",
          "default": "<p>Add descriptive text to your full width banner.</p>"
        }
      ]
    },
    {
      "type": "breadcrumbs",
      "limit": 1,
      "name": "t:sections.global.element.breadcrumbs.label",
      "settings": [
        {
          "type": "select",
          "id": "show_on",
          "label": "t:sections.global.settings.show_on.label",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.global.settings.show_on.options.desktop.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.global.settings.show_on.options.mobile.label"
            },
            {
              "value": "both",
              "label": "t:sections.global.settings.show_on.options.both.label"
            }
          ],
          "default": "both"
        }
      ]
    },
    {
      "type": "buttons",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.global.element.button_label_1.label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.global.element.button_link_1.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:sections.global.element.button_style_1.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.element.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.element.button_style.options.outlined.label"
            },
            {
              "value": "button--text",
              "label": "t:sections.global.element.button_style.options.text.label"
            }
          ],
          "default": "button--outlined"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_first_button",
          "label": "t:sections.global.color_scheme.for__button_first.label",
          "default": "scheme-1"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.global.element.button_label_2.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.global.element.button_link_2.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:sections.global.element.button_style_2.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.element.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.element.button_style.options.outlined.label"
            },
            {
              "value": "button--text",
              "label": "t:sections.global.element.button_style.options.text.label"
            }
          ],
          "default": "button--outlined"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_second_button",
          "label": "t:sections.global.color_scheme.for__button_second.label",
          "default": "scheme-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.full-width-banner.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
