{{- 'component-collection-hero.css' | asset_url | stylesheet_tag -}}

{%- if section.settings.collection_menu != blank -%}
  <script src="{{- 'main-collection-banner-menu-slide.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign image_mobile = collection.metafields.theme.image_mobile.value | default: collection.image

  assign media_classes = 'media--overlay-horizontal collection-hero__media small-hide'
  assign media_classes_mobile = 'media--overlay media--overlay-horizontal collection-hero__media small-up-hide'
  if section.settings.image_blur_effect
    assign media_classes = media_classes | append: ' media--overlay-blur'
  endif
  if section.settings.section_height == 'auto'
    assign media_classes = media_classes | append: ' relative'
  endif
  if section.settings.section_height_mobile == 'auto'
    assign media_classes_mobile = media_classes_mobile | append: ' relative--mobile'
  endif

  if collection.image != blank
    assign section_color_scheme = section.settings.color_scheme_for_media
  else
    assign section_color_scheme = section.settings.color_scheme
  endif

  # set heading tag based on section index
  if section.index == 1
    assign heading_tag = 'h1'
  else
    assign heading_tag = 'h2'
  endif
-%}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    --main-collection-banner-section-height: {{ section.settings.section_height_mobile }};
  }
  #shopify-section-{{ section.id }} .collection-hero__content {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
    {%- if section.settings.section_height_mobile == 'auto' -%}
      position: absolute;
    {%- endif -%}
  }

  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} > div {
      --main-collection-banner-section-height: {{ section.settings.section_height }};
    }
    #shopify-section-{{ section.id }} .collection-hero__content {
      {%- if section.settings.section_height == 'auto' -%}
        position: absolute;
      {%- endif -%}
    }
  }
  {%- if collection.image == blank -%}
    #shopify-section-{{ section.id }} .collection-hero {
      height: auto;
    }
  {%- endif -%}
{%- endstyle -%}

<div class="color-{{ section_color_scheme }} gradient">
  <div class="collection-hero {{ section.settings.content_position }}">

    {%- if collection.image != blank -%}
      <div class="media {{ media_classes }}">
        {%- render 'image', image: collection.image, section_index: section.index -%}
      </div>
      <div class="media {{ media_classes_mobile }}">
        {%- render 'image', image: image_mobile, section_index: section.index, image_for_mobile: true -%}
      </div>
    {%- endif -%}

    <div class="collection-hero__content text-{{ section.settings.content_alignment }}">
      {%- if settings.enable_breadcrumbs_on_other_pages -%}
        {%- render 'breadcrumbs', alignment: section.settings.content_alignment -%}
      {%- endif -%}

      <{{ heading_tag }} class="collection-hero__title h2">
        <span class="visually-hidden">{{- 'collection.label' | t -}}: </span>
        {{- collection.title | escape -}}
      </{{ heading_tag }}>

      {%- if collection.description != blank and section.settings.collection_description -%}
        <div class="collection-hero__entry">
          <div class="collection__description rte">
            {%- render 'text-truncator', text: collection.description, max_lines: section.settings.text_truncate -%}
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.collection_menu -%}
        {%- liquid
          assign collection_menu_links = ''
          for link in linklists[section.settings.collection_menu].links
            if link.handle == collection.handle
              if link.links.size > 0
                assign collection_menu_links = link.links
              endif
            endif
          endfor
        -%}

        {%- if collection_menu_links != '' and collection_menu_links.size != 0 -%}
          <collection-hero-menu
            class="collection-hero__menu"
            data-swiper-options='{"slidesPerView": "auto", "spaceBetween": 0, "freeMode": true}'
          >
            <div class="swiper collection-hero-menu__items">
              <div class="swiper-wrapper">
                {%- for link in collection_menu_links -%}
                  <div class="collection-hero-menu__item swiper-slide">
                    <a href="{{- link.url -}}" class="{%- if link.url == collection.url -%}menu__item-active{%- endif -%}">
                      <span>{{- link.title -}}</span>
                    </a>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </collection-hero-menu>
        {%- endif -%}

      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-hero.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_description",
      "label": "t:sections.collection-hero.settings.collection_description.label",
      "default": true
    },
    {
      "type": "range",
      "id": "text_truncate",
      "label": "t:sections.global.element.text.truncate.label",
      "info": "t:sections.global.element.text.truncate.info",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:sections.global.section.height.label_alt",
      "info": "t:sections.main-collection.settings.section_height.info",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.global.section.height.options.auto.label"
        },
        {
          "value": "33svh",
          "label": "t:sections.global.section.height.options.third.label"
        },
        {
          "value": "50svh",
          "label": "t:sections.global.section.height.options.half.label"
        },
        {
          "value": "100svh",
          "label": "t:sections.global.section.height.options.full.label"
        }
      ],
      "default": "50svh"
    },
    {
      "type": "select",
      "id": "section_height_mobile",
      "label": "t:sections.global.section.height.for__mobile.label_alt",
      "info": "t:sections.main-collection.settings.section_height_mobile.info",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.global.section.height.options.auto.label"
        },
        {
          "value": "33svh",
          "label": "t:sections.global.section.height.options.third.label"
        },
        {
          "value": "50svh",
          "label": "t:sections.global.section.height.options.half.label"
        },
        {
          "value": "100svh",
          "label": "t:sections.global.section.height.options.full.label"
        }
      ],
      "default": "50svh"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.global.content.position.label",
      "options": [
        {
          "value": "justify-start",
          "label": "t:sections.global.content.position.options.start.label"
        },
        {
          "value": "justify-center",
          "label": "t:sections.global.content.position.options.center.label"
        },
        {
          "value": "justify-end",
          "label": "t:sections.global.content.position.options.end.label"
        }
      ],
      "default": "justify-end"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.global.content.alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.global.content.alignment.options.start.label"
        },
        {
          "value": "center",
          "label": "t:sections.global.content.alignment.options.center.label"
        },
        {
          "value": "end",
          "label": "t:sections.global.content.alignment.options.end.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.global.color_scheme.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_for_media",
      "label": "t:sections.global.color_scheme.for__media.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "image_blur_effect",
      "label": "t:sections.collection-hero.settings.image_blur_effect.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.header.collections_menu.content",
      "info": "t:sections.global.header.collections_menu.info"
    },
    {
      "type": "link_list",
      "id": "collection_menu",
      "label": "t:sections.collection-hero.settings.collections_menu.label",
      "info": "t:sections.collection-hero.settings.collections_menu.info"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:sections.global.settings.spacing.settings.spacing_top.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "0"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:sections.global.settings.spacing.settings.spacing_bottom.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "0"
    }
  ]
}
{% endschema %}
