{%- capture minify -%}
{%- style -%}

    #LT--{{ section.id }} {
    position: relative;
    overflow: hidden;
  }

  #LT--{{ section.id }} .video-background,
  #LT--{{ section.id }} .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #LT--{{ section.id }} .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #LT--{{ section.id }} .image-background {
    background-size: cover;
    background-position: center;
  }

  #LT--{{ section.id }} .luna-templates__hero-marquee-content {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 749px) {
    #LT--{{ section.id }} {
      min-height: {{ section.settings.mobile_height }}px;
    }
  }
  
  
  #LT--{{ section.id }} {
    background-image: url('{{ section.settings.image_bg | image_url: width: 2500 }}');
    background-size: cover;
    background-position: {{ section.settings.image_bg.presentation.focal_point }};
    min-height: 700px;
    position: relative;
    overflow-x: hidden;
  }

  #LT--{{ section.id }} .luna-templates__hero-marquee-content {
    align-items: center;
    display: grid;
    grid-template-areas: "." "marquee-bar" "marquee-text";
    grid-template-rows: 1fr .5fr 1fr;
    height: 100%;
    padding: 50px 0;
    position: absolute;
    width: 100vw;
  }

  #LT--{{ section.id }}.luna-templates__hero-marquee-layout-2 .luna-templates__hero-marquee-content {
    align-items: start;
    grid-template-areas: "." "marquee-text" "marquee-bar";
    grid-template-rows: 40% auto auto;
  }

  #LT--{{ section.id }} .luna-templates__hero-marquee-text-container {
    grid-area: marquee-text;
    max-width: 600px;
    padding: 20px 50px;
    {% if section.settings.layout == '2' %}
      padding-bottom: 0; 
      padding-top: 0; 
    {% endif %}
    {% if section.settings.text-align == 'center' %}
      margin: 0 auto;
      text-align: center;
    {% elsif section.settings.text-align == 'right' %}
      margin-left: auto;
      text-align: right;
    {% endif %}
  }

  #LT--{{ section.id }}.luna-templates__hero-marquee-layout-1 .luna-templates__hero-marquee-text-container {
    margin-top: auto;
  }

  #LT--{{ section.id }}.luna-templates__hero-marquee-layout-2 .luna-templates__hero-marquee-text-container {
    margin-bottom: auto;
  }

  #LT--{{ section.id }} .luna-templates__marquee-bar {
    grid-area: marquee-bar;
  }

  #LT--{{ section.id }}.luna-templates__hero-marquee-layout-2 .luna-templates__marquee-bar {
    margin-top: auto;
  }

  #LT--{{ section.id }} .luna-templates__marquee-bar .luna-templates__marquee-item * {
    color: {{ section.settings.color_marquee }};
  }

  {% if section.settings.blend-mode == 'gradient' %}
    #LT--{{ section.id }} .luna-templates__marquee-bar .luna-templates__marquee-item * {
      --color-marquee-rgb: {{ section.settings.color_marquee | color_to_rgb }};
      background-image: linear-gradient(180deg, var(--color-marquee-rgb), rgba(224, 224, 224, 0) 100%);
      color: #0000;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      -webkit-background-clip: text;
      background-clip: text
    }
  {% else %}
    #LT--{{ section.id }} .luna-templates__marquee-bar * {
        transition: color 0.3s;
        cursor: default;
        mix-blend-mode: {{ section.settings.blend-mode }};
    }
  {% endif %}
  
  #LT--{{ section.id }} .luna-templates__marquee-bar .luna-templates__marquee-item:hover a * {
    color: {{ section.settings.color_marquee_hover }};
    transition: color 0.3s;
    cursor: pointer;
  }

  {% if section.settings.blend-mode == 'gradient' %}
    #LT--{{ section.id }} .luna-templates__marquee-bar .luna-templates__marquee-item:hover a * {
      --color-marquee-hover-rgb: {{ section.settings.color_marquee_hover | color_to_rgb }};
      background-image: linear-gradient(180deg, var(--color-marquee-hover-rgb), rgba(224, 224, 224, 0) 100%);
      color: #0000;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      -webkit-background-clip: text;
      background-clip: text
    }
  {% endif %}

  #LT--{{ section.id }} .luna-templates__marquee-item {
    align-items: center;
    display: grid;
  }

  #LT--{{ section.id }} .luna-templates__marquee-bar-content {
    animation: lt-marquee-hero 120s linear infinite;
    display: flex;
  }

  #LT--{{ section.id }} .luna-templates__hero-marquee-text-container * {
    margin: 0;
    color: {{ section.settings.color_text }};
    line-height: 1.1;
  }

  #LT--{{ section.id }} .luna-templates__marquee-item * {
    font-size: {{ section.settings.font_size_desktop }}px;
    padding-right: 30px;
    margin: 0;
  }

  #LT--{{ section.id }} a {
    text-decoration: none;
  }

  #LT--{{ section.id }} .luna-templates__marquee-bar {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
  }

  /* Text Block Style */
  #LT--{{ section.id }} .luna-templates__text * {
    margin: 0 0 0px 0;
    font-size: var(--font-size);
    line-height: 1.2;
  }

  /* Button Block Style */
  #LT--{{ section.id }} .luna-templates__block--button {
    display: inline-block;
    {% if section.settings.text-align == 'left' %}
      margin-right: 20px;
    {% elsif section.settings.text-align == 'center' %}
      margin: 0 10px;
    {% elsif section.settings.text-align == 'right' %}
      margin-left: 20px;
    {% endif %}
  }
  
  #LT--{{ section.id }} .luna-templates__block .luna-templates__button-container {
    margin: var(--button-margin, 20px 0);
  }
  
  #LT--{{ section.id }} .luna-templates__block .luna-templates__button {
    padding: 0.5rem 2rem;
    margin: 20px 0;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color) !important;
    font-size: var(--font-size);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    text-decoration: none;
  }
  
  #LT--{{ section.id }} .luna-templates__block .luna-templates__button:hover {
    background-color: var(--bg-hover);
    border: 1px solid var(--border-hover);
    color: var(--text-hover) !important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  #LT--{{ section.id }} .luna-templates__block .LT__btn-rounded {
    border-radius: 5px;
  }
  
  #LT--{{ section.id }} .luna-templates__block .LT__btn-pill {
    border-radius: 50px;
  }
  
  #LT--{{ section.id }} .luna-templates__block .LT__btn-oval {
    padding: 0.75em 1.5em;
    border-radius: 50%;
  }

  @keyframes lt-marquee-hero {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .luna-templates__marquee-text-banner span {
      animation: none;
      width: auto;
      display: block;
      text-align: center;
      white-space: normal;
    }
  }
  
  @media (min-width: 750px) {
    #LT--{{ section.id }} .luna-templates__text * {
      font-size: var(--font-size-750);
    }
  }

  @media (min-width: 1200px) {
    #LT--{{ section.id }} .luna-templates__text * {
      font-size: var(--font-size-1200);
    }
  }

  @media (max-width: 749px) {
    #LT--{{ section.id }} {
      min-height: 600px;
      {% if section.settings.image_bg_mobile != blank %}
        background-image: url('{{ section.settings.image_bg_mobile | image_url: width: 800 }}');
      {% endif %}
    }
    #LT--{{ section.id }} .luna-templates__hero-marquee-content {
      padding: 25px 0 ;
    }
    #LT--{{ section.id }} .luna-templates__hero-marquee-text-container {
      padding: 20px;
      {% if section.settings.layout == '2' %}
        padding-bottom: 0; 
        padding-top: 0; 
      {% endif %}
    }
    #LT--{{ section.id }} .luna-templates__marquee-item * {
      font-size: {{ section.settings.font_size_mobile }}px;
      padding-right: 20px;
    }

    /* Button Block Style */
    #LT--{{ section.id }} .luna-templates__block .luna-templates__button {
      font-size: var(--font-size-749);
    }
  }

  /* Custom CSS */
  {{ section.settings.custom_css }}

{%- endstyle -%}

{%- capture marquee -%}
  <div class="luna-templates__marquee-bar">
    <span class="luna-templates__marquee-bar-content">
      {%- for i in (1..5) -%}
        <span id="section-{{ section.id }}" class="luna-templates__marquee-item">
          {%- if section.settings.text != blank -%}
            {%- if section.settings.link_url != blank -%}<a href="{{ section.settings.link_url }}">{%- endif -%}
              {{ section.settings.text }}
            {%- if section.settings.link_url != blank -%}</a>{%- endif -%}
          {%- endif -%}
        </span>
      {%- endfor -%}
    </span>
    <span class="luna-templates__marquee-bar-content">
      {%- for i in (1..5) -%}
        <span id="section-{{ section.id }}" class="luna-templates__marquee-item">
          {%- if section.settings.text != blank -%}
            {{ section.settings.text }}
          {%- endif -%}
        </span>
      {%- endfor -%}
    </span>
  </div>
{%- endcapture -%}


<!-- This section is designed and built by Luna Templates. Find more at https://lunatemplates.co -->

<section id="LT--{{ section.id }}" class="LT__section luna-templates__hero-marquee luna-templates__hero-marquee-layout-{{ section.settings.layout }} {{ section.settings.css_class }}" >

  <style>
    /* Apply desktop height */
    @media (min-width: 750px) {
      #LT--{{ section.id }} {
        height: {{ section.settings.desktop_height }}px;
        max-height: {{ section.settings.desktop_height }}px;
      }
    }

    /* Apply mobile height */
    @media (max-width: 749px) {
      #LT--{{ section.id }} {
        height: {{ section.settings.mobile_height }}px;
        max-height: {{ section.settings.mobile_height }}px;
      }
    }
  </style>

  {% if section.settings.background_type == 'video' and section.settings.video_bg != blank %}
    <div class="video-background">
      <video autoplay loop muted playsinline poster="{{ section.settings.video_bg.preview_image | img_url: 'master' }}">
        {% for source in section.settings.video_bg.sources %}
          <source src="{{ source.url }}" type="{{ source.mime_type }}">
        {% endfor %}
        Your browser does not support the video tag.
      </video>
    </div>
  {% elsif section.settings.background_type == 'image' and section.settings.image_bg != blank %}
    <div class="image-background" style="background-image: url('{{ section.settings.image_bg | img_url: 'master' }}');"></div>
  {% endif %}

  <div class="luna-templates__hero-marquee-content">
    {{ marquee }}
    <div class="luna-templates__hero-marquee-text-container">
      {%- for block in section.blocks -%}
        <div id="LT--{{ block.id }}" class="luna-templates__block luna-templates__block--{{ block.type }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div class="luna-templates__text" style="
                  --font-size: {{ block.settings.font_size_mobile }}px;
                  --font-size-750: {{ block.settings.font_size_desktop | divided_by: 1.2 }}px;
                  --font-size-1200: {{ block.settings.font_size_desktop }}px;
                  ">{{ block.settings.text }}</div>
              {%- endif -%}
            {%- when 'button' -%}
              {%- if block.settings.link_text != blank -%}
                <div class="luna-templates__button-container" style="
                  --button-margin: {%- if block.settings.btn_shape == "oval" -%}30px 0{% else %}20px 0{%- endif -%};
                  --bg-color: {{ block.settings.color_btn_fill }};
                  --bg-hover: {{ block.settings.color_btn_fill_hover }};
                  --border-color: {{ block.settings.color_btn_border }};
                  --border-hover: {{ block.settings.color_btn_border_hover }};
                  --font-size: {{ block.settings.font_size_btn_desktop }}px;
                  --font-size-749: {{ block.settings.font_size_btn_mobile }}px;
                  --text-color: {{ block.settings.color_btn_text }};
                  --text-hover: {{ block.settings.color_btn_text_hover }};
                  ">
                  <a class="luna-templates__button LT__btn-{{ block.settings.btn_shape }}" href="{{ block.settings.link_url }}">{{ block.settings.link_text }}</a>
                </div>
              {%- endif -%}
            {%- when 'html' -%}
              {{ block.settings.html }}
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>



  
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "💫 Marquee Hero",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Image Desktop",
      "info": "A width of 2500px .jpg is recommended"
    },
    {
      "type": "image_picker",
      "id": "image_bg_mobile",
      "label": "Image Mobile",
      "info": "Optional"
    },
    {
      "type": "video",
      "id": "video_bg",
      "label": "Background Video",
      "info": "Upload a video to use as background"
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 400,
      "max": 1600,
      "step": 12,
      "unit": "px",
      "label": "Desktop Banner Height",
      "default": 700
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 300,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "Mobile Banner Height",
      "default": 500
    },
    {
      "type": "header",
      "content": "Marquee Settings"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Marquee Text",
      "default": "<h1>Lorum ipsum dolar</h1>"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Marquee Link"
    },
    {
      "type": "color",
      "id": "color_marquee",
      "label": "Marquee",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_marquee_hover",
      "label": "Marquee (Hover)",
      "default": "#000",
      "info": "Changes color only if link is added"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "blend-mode",
      "label": "Marquee Text Effect",
      "options": [
        {
          "value": "unset",
          "label": "None"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        },
        {
          "value": "exclusion",
          "label": "Exclusion"
        },
        {
          "value": "luminosity",
          "label": "Luminosity"
        },
        {
          "value": "plus-lighter",
          "label": "Plus-lighter"
        },
        {
          "value": "screen",
          "label": "Screen"
        },
        {
          "value": "color-dodge",
          "label": "Color-dodge"
        },
        {
          "value": "difference",
          "label": "Difference"
        }
      ],
      "default": "unset",
      "info": "May have no or unexpected effect on white & black text"
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Marquee Font Size (Desktop)",
      "default": 80,
      "min": 20,
      "max": 160,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Marquee Font Size (Mobile)",
      "default": 50,
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Content Layout",
      "options": [
        {
          "value": "1",
          "label": "Marquee top"
        },
        {
          "value": "2",
          "label": "Marquee bottom"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Align Text",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "Custom CSS",
      "info": "Write your CSS here. Use !important when necessary."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add your own custom content.</p>"
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "label": "Font Size (Desktop)",
          "default": 20,
          "min": 12,
          "max": 60,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "label": "Font Size (Mobile)",
          "default": 18,
          "min": 12,
          "max": 60,
          "step": 2,
          "unit": "px"
        }
      ],
      "limit": 1
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "select",
          "id": "btn_shape",
          "label": "Button Shape",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded",
              "label": "Rounded"
            },
            {
              "value": "pill",
              "label": "Pill"
            },
            {
              "value": "oval",
              "label": "Oval"
            }
          ],
          "default": "square"
        },
        {
          "type": "color",
          "id": "color_btn_fill",
          "label": "Button Fill Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "color_btn_border",
          "label": "Button Border Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_text",
          "label": "Button Text Color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_fill_hover",
          "label": "Button Fill Color (Hover)",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_border_hover",
          "label": "Button Border Color (Hover)",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_text_hover",
          "label": "Button Text Color (Hover)",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "font_size_btn_desktop",
          "label": "Button Font Size (Desktop)",
          "default": 18,
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "font_size_btn_mobile",
          "label": "Button Font Size (Mobile)",
          "default": 16,
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "HTML"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "💫 Marquee Hero",
      "category": "Luna Templates",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}